 @import 'tailwindcss';
 @import '@nuxt/ui';

 body {
   font-family: 'Plus Jakarta Sans', sans-serif;
 }

 .glass-effect {
   @apply backdrop-blur-xl bg-white/60 border border-white/20;
 }

 .bento-card {
   @apply transition-all duration-500 hover:scale-[1.02] hover:shadow-emerald-100;
 }

 @keyframes float {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(-20px);
   }

   100% {
     transform: translateY(0px);
   }
 }

 .animate-float {
   animation: float 6s ease-in-out infinite;
 }

 .no-scrollbar::-webkit-scrollbar {
   display: none;
 }

 .no-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }